<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf8" />
    <title>修改密码</title>
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>

<body>
    <p>Hello!{{current_user.stu_no}},{{current_user.stu_name}}</p>
    <p>当前使用初始密码登录,需重新设置密码</p>
    <p>新密码由数字，小写字母，大写字母和特殊符号组成</p>
    <p>其中特殊符号仅包括+-*%_&</p>
    <table>
        <tr>
            <td>新密码</td>
            <td><input type="password" maxlength=20 placeholder="请设置8-20位的密码" /></td>
        </tr>
        <tr>
            <td>重复新密码</td>
            <td><input type="password" maxlength=20 placeholder="请重复输入新密码" /></td>
        </tr>
    </table>
    <button>修改密码</button>
    <a href="{{url_for('logout')}}">登出</a>
</body>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $("button").click(() => {
        let input = $("input");
        let passwd = input[0].value;
        let f_passwd = input[1].value;
        let success = false;
        if (passwd.length < 8) {
            window.alert("新密码长度小于8位");
            $("input").val("");
        }
        else if (f_passwd != passwd) {
            window.alert("两次输入不相同,请重新输入");
            $("input").val("");
        }
        else {
            $.ajax({
                url: "/api/change_password",
                type: "post",
                data: JSON.stringify({ password: passwd }),
                contentType: "application/json;charset=utf-8",
                success: (ret) => {
                    window.alert(ret.message);
                    if ("url" in ret.data) {
                        window.location.href = ret.data.url;
                    }
                    else {
                        $("input").val("");
                    }
                }
            })
        }
    });
</script>

</html>