<!DOCTYPE html>
<html lang="ch_CN">

<head>
    <meta charset="UTF-8" />
    <title>WebRTC-Monitor</title>
    <style>
        canvas {
            display: none;
        }
    </style>
</head>

<body>
    <div>
        <p>Hello!{{current_user.stu_no}},{{current_user.stu_name}}</p>
        <a href="{{url_for('admin')}}">返回主控室</a>
        <a href="{{url_for('logout')}}">登出</a>
        <h4 id="student_no"></h4>
    </div>
    <script src="https://cdn.socket.io/3.1.2/socket.io.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
<script>
    $(document).ready(function () {
        let tep_list = location.href.split("/");
        let stu_no = parseInt(tep_list[tep_list.length - 1]);
        console.log(typeof stu_no);
        $("#student_no").text("待监控学生学号：" + stu_no.toString());
    });
</script>

</html>